/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

body {
    margin: 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-family: "Raleway", sans-serif;
}
p {
    margin: 0;
}
.flex {
    display: flex;
}
main {
    width: 100%;
}
#page {
    margin: 0px 50px 0px 50px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1340px;
}
a {
    color: #000;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
ul {
    padding: 0;
}
/* Header */
header {
    background-color: white;
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-bottom: 40px;
}
/* Logo */
.logo {
    flex-grow: 1;
    margin: 44px 0 0 0;
}
/* Menu */
.current-section {
    color: #0065fc;
    font-weight: 600;
    border-top: solid 2px #0065fc;
    padding: 46px 20px 20px 20px;
}
.current-section-link {
    color: #0065fc;
}
nav a {
    padding: 48px 30px 0;
    text-decoration: none;
}
nav li a:hover {
    color: #0065fc;
}
nav ul {
    margin: 0 0 0 0;
    list-style-type: none;
    display: inline-flex;
}
nav ul li {
    padding: 48px 20px 20px 20px;
    border-top: solid 2px white;
}
.subscribe {
    color: #0065fc;
}
.register {
    padding: 48px 20px 20px 20px;
}
/* Main */

/* Search */
.search h2,
p {
    margin: 0 0 10px 0;
}
.container-icn {
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
}
.container-icn i {
    margin: auto;
    font-size: 1.2rem;
}
.search-form {
    height: 50px;
    margin: 20px 0 30px 5px;
}
.search-field {
    border: 1px solid #f2f2f2;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    padding: 0 0 0 15px;
    font-size: 1.1rem;
    width: 230px;
}
.search-field::placeholder {
    color: black;
    font-weight: 700;
    opacity: 1;
}

.search-button {
    width: 130px;
    background-color: #0065fc;
    border: none;
    padding: 0;
    border-radius: 0 15px 15px 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
}
.search-button i {
    display: none;
}
/* Filters */

.filters-title {
    margin: 0 32px 0 0;
}
.filters-result {
    align-items: center;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 30px;
}
.filters-result ul {
    margin: 0 0 0 10px;
    display: inline-flex;
    flex-wrap: wrap;
}
.filters-result ul li {
    display: flex;
    align-items: center;
    height: 46px;
    border: 2px solid #d9d9d9;
    border-left: none;
    margin: 6px 13px 6px 0;
    padding-right: 13px;
    border-radius: 25px;
}
.filters-result ul li:hover {
    cursor: pointer;
    border-color: #0065fc;
    color: white;
    background-color: #0065fc;
}
.filters-result i {
    color: #0065fc;
    margin-right: 13px;
    align-items: center;
    justify-content: center;
    display: flex;
    right: 1px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #deebff;
}
.iconFilter i {
    margin: auto;
    color: #0065fc;
}
.icon-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border: 1px solid #d2d2d2;
    border-radius: 1rem;
    margin-right: 10px;
}
.icon-info i {
    font-size: 0.6rem;
    color: #0065fc;
}
.filters-info {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
/* Accomodations */
#accom-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.accom-container {
    padding: 25px 40px 25px 40px;
    align-content: flex-start;
    background-color: #f2f2f2;
    border-radius: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
}
.section-title {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.section-title i {
    font-size: 1.5em;
}
.articles-wrap {
    width: 100%;
    align-content: flex-start;
    background-color: #f2f2f2;
    border-radius: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}
.accom-items {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: calc(33% - 2rem);
    min-width: 200px;
    max-width: calc(33% - 2rem);
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 15px lightgray;
}
.accom-items img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 126px;
    object-fit: cover;
}
.accom-details {
    margin: 0 16px;
    flex-direction: column;
    justify-content: space-between;
}
.accom-name {
    margin: 10px 0 5px 0px;
}
.accom-name h4 {
    margin: 0 0 10px 0;
}
.accom-price {
    margin-bottom: 10px;
    font-size: 0.9em;
}
.accom-rate {
    margin-bottom: 10px;
    word-spacing: -1ch;
    font-size: 9pt;
}
.hlprice {
    font-weight: 600;
}
.BStar {
    color: #0065fc;
}
.GStar {
    color: #d9d9d9;
}
.showMore {
    width: auto;
    flex: 1 1 auto;
}
.showMore h4 {
    margin-top: 0;
    margin-bottom: 15px;
}
/* Most Popular - Accomodations */
.accomPopContainer {
    padding: 25px 40px 25px 40px;
    align-content: flex-start;
    background-color: #f2f2f2;
    border-radius: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    max-width: 340px;
}
.articles-pop-wrap {
    width: 100%;
    align-content: center;
    border-radius: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.accom-pop-items {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    width: 100%;
    min-width: 200px;
    max-width: 100%;
    padding: 5px;
    background-color: white;
    max-height: 144px;
    border-radius: 20px;
    box-shadow: 4px 4px 15px lightgray;
}
.accom-pop-items img {
    width: 100%;
    max-width: 127px;
    border-radius: 20px 0 0 20px;
    height: 134px;
    object-fit: cover;
}
/* Activities */
.marseille-out {
    margin-bottom: 40px;
    margin-top: 60px;
}
.marseille-out h3 {
    margin: 0 0 5px 0;
}
.activiti-warp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    border-radius: 20px;
}
.activiti-col {
    display: flex;
    flex-direction: column;
}
.activiti-item {
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 15px lightgray;
    max-width: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.activiti-item img {
    border-radius: 20px 20px 0 0;
    max-width: 100%;
    object-fit: cover;
    flex-grow: 1;
}
.activiti-title h5 {
    margin: 10px 0px;
}
.acti-item-1 {
    flex: 1;
}
.activiti-col-2 {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.acti-item-2 img {
    max-height: 180px;
}
.acti-item-3 img {
    max-height: 110px;
}
.acti-item-4 {
    flex: 1 1 auto;
}
.activiti-col-4 {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.acti-item-5 img {
    max-height: 140px;
}
.acti-item-6 img {
    max-height: 150px;
}
.activiti-title {
    padding-left: 20px;
    height: 55px;
    align-items: center;
    justify-content: unset;
    display: flex;
}
/* Footer */
footer {
    display: flex;
    width: 100%;
    background-color: #f2f2f2;
    justify-content: center;
}
.footer-container {
    width: 100%;
    justify-content: flex-start;
    max-width: 1340px;
    padding: 50px;
}
.col-footer {
    width: 33%;
}
.footer-ul {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}
.footer-ul li:first-child {
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}
.footer-ul a {
    font-size: 11pt;
    color: black;
    text-decoration: none;
    line-height: 2em;
}
.footer-container {
    background-color: #f2f2f2;
}
/* Media Queries */
/* Tablet version */
@media only screen and (max-width: 1280px) {
    /* Search - Tablet */

    /* Popular - Tablet */
    #accom-section {
        align-content: center;
    }
    .accom-container {
        justify-content: flex-start;
        padding: 25px 40px 25px 40px;
        max-width: 100%;
    }
    .accomPopContainer {
        background-color: #fff;
        max-width: 100%;
    }
    .articles-pop-wrap {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .accom-items {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        width: calc(50% - 2rem);
        min-width: 200px;
        max-width: calc(50% - 2rem);
        padding: 5px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 4px 4px 15px lightgray;
    }
    /* Hotels - Tablet */
    /* Activities - Tablet */
    .activiti-col {
        width: calc(50% - 1em);
    }
    .activiti-item {
        width: auto;
        max-width: 100%;
    }
}

/* smarphones */

@media only screen and (max-width: 600px) {
    /* General */
    #page {
        margin: 0;
    }
    .section-title {
        width: auto;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    /* Header - Mobile */
    header {
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    .logo {
        margin-left: 20px;
        margin-top: 30px;
    }
    .register {
        align-self: flex-end;
        padding: 0;
        margin-right: 25px;
        position: relative;
        bottom: 30px;
    }
    nav {
        order: 3;
    }
    nav ul {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    nav li {
        width: 50%;
        text-align: center;
        padding: 20px 0;
        border-bottom: 3px solid #f2f2f2;
    }
    .current-section {
        color: #0065fc;
        border-top: 3px solid #fff;
        border-bottom: 3px solid #0065fc;
        font-weight: 600;
    }
    nav li a {
        padding: inherit;
    }
    nav li a:hover {
        border-top: none;
    }
    nav li:hover {
        border-bottom-color: #0065fc;
    }
    /* main */
    /* Search - Mobile */
    /* Filters - Mobile */
    .filters-result {
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        font-weight: 700;
        font-size: 1.1rem;
        margin-bottom: 30px;
    }
    .filters-title {
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .filters-info {
        padding: 0 0 0 13px;
    }
    /* Accomodation */
    #accom-section {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .accom-container {
        border-radius: 0px;
        padding: 25px 0px 25px 0px;
        max-width: 100%;
    }
    .articles-pop-wrap {
        flex-direction: column;
        justify-content: center;
    }
    .articles-wrap {
        flex-direction: column;
    }
    .accom-items {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        width: 100%;
        max-width: calc(100% - 40px);
        min-width: 200px;
        padding: 5px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 4px 4px 15px lightgray;
    }
    .accomPopContainer {
        padding: 25px 0px 25px 0px;
    }
    /* Popular - Mobile */
    .accom-pop-items {
        width: calc(100% - 40px);
        align-self: center;
    }
    /* Activities - Mobile */
    .activiti-warp {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        border-radius: 20px;
    }
    .activiti-item img {
        height: 135px;
    }
    .acti-item-1 {
        flex: 1;
    }
    .acti-item-2 img {
        max-height: 135px;
    }
    .acti-item-3 img {
        max-height: 135px;
    }
    .acti-item-5 img {
        max-height: 135px;
    }
    .acti-item-6 img {
        max-height: 135px;
    }
    .activiti-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .activiti-item {
        background-color: white;
        border-radius: 20px;
        box-shadow: 4px 4px 15px lightgray;
        width: calc(100% - 40px);
        max-width: 100%;
        display: flex;
        flex-direction: column;
        margin: 20px 0;
    }
    /*Recherche - Mobile */
    .search {
        margin: 30px 20px;
    }
    .searchFieldInput {
        flex: 1;
    }
    .search-form {
        margin: 35px 0 30px;
    }
    .search-button {
        position: relative;
        width: 50px;
        border-radius: 15px;
        left: -20px;
    }
    .search-button span {
        display: none;
    }
    .search-button i {
        display: inline-block;
    }
    .filters {
        margin-bottom: 12px;
    }
    /* Footer */
    .footer-container {
        justify-content: flex-start;
        max-width: 1340px;
        padding: 50px;
        display: flex;
        flex-direction: column;
    }
    .col-footer {
        width: 100%;
    }
}
