/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

body {
  margin: 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  font-family: "Raleway", sans-serif;
}
body p {
  margin: 0;
}

.flex {
  display: flex;
}

#page {
  margin: 0px 50px 0px 50px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1340px;
}
body a {
  color: #000;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
/* Header */
header {
  background-color: white;
  width: 100%;
  justify-content: space-between;
  display: flex;
}
/* Logo */
.logo {
  margin: 44px 0 0 0;
}
/* Menu */
.currentSection {
  color: #0065fc;
  font-weight: 550;
  border-top: solid 2px #0065fc !important;
  padding: 46px 20px 20px 20px !important;
}
.currentSectionLink {
  color: #0065fc;
}
nav a {
  padding: 48px 30px 0;
  text-decoration: none;
}

nav li a:hover {
  color: #0065fc;
}
.menu ul {
  margin: 0 0 0 0;
  list-style-type: none;
  display: inline-flex;
}
nav ul li {
  padding: 48px 20px 20px 20px;
  border-top: solid 2px white;
}

.register {
  color: #0065fc;
  margin: 50px 0 0 33px;
}
/* Main */
main {
  margin-top: 40px;
  width: 100%;
}
/* Search */
.search h2,
p {
  margin: 0 0 10px 0;
}
.containerIcn {
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  width: 50px;
}
.containerIcn i {
  margin: auto;
  font-size: 1.2rem;
}
.searchForm {
  height: 50px;
  margin: 20px 0 30px 5px;
}
.searchField {
  border: 1px solid #f2f2f2;
  padding: 0 0 0 15px;
  font-size: 1.1rem;
  font-weight: 600;
  width: 230px;
}
.searchField::placeholder {
  color: black;
}

.searchButton {
  width: 130px;
  background-color: #0065fc;
  border: none;
  padding: 0;
  border-radius: 0 15px 15px 0;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
}

.searchButton i {
  display: none;
}
/* Filters */

.filtersTitle {
  margin: 0;
}

.filtersResult {
  align-items: center;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 30px;
}
.filtersResult ul {
  margin: 0;
}
.filtersResult ul li {
  display: flex;
  align-items: center;
  height: 46px;
  border: 2px solid #f2f2f2;
  border-left: none;
  margin-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
}
.filtersResult ul li:first-child {
  margin-left: 0;
}
.filtersResult ul li:hover {
  cursor: pointer;
  border-color: #0065fc;
  color: white;
  background-color: #0065fc;
}

.filtersResult i {
  color: #0065fc;
  margin-right: 13px;
  align-items: center;
  justify-content: center;
  display: flex;
  right: 1px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #deebff;
}

.iconFilter i {
  margin: auto;
  color: #0065fc;
}

.iconInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border: 1px solid #d2d2d2;
  border-radius: 1rem;
  margin-right: 10px;
}

.iconInfo i {
  font-size: 0.6rem;
  color: #0065fc;
}
.filtersInfo {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
/* Accomodations */
#accomSection {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.accomContainer {
  padding: 25px 40px 25px 40px;
  align-content: flex-start;
  background-color: #f2f2f2;
  border-radius: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  width: 100%;
  max-width: 800px;
}
.sectionTitle {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.sectionTitle i {
  font-size: 1.5em;
}
.articlesWrap {
  width: 100%;
  align-content: flex-start;
  background-color: #f2f2f2;
  border-radius: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}
.accomItems {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: calc(33% - 2rem);
  min-width: 200px;
  max-width: calc(33% - 2rem);
  padding: 5px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 4px 4px 15px lightgray;
}
.accomItems img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 126px;
  object-fit: cover;
}
.accomDetails {
  margin: 0 16px;
  flex-direction: column;
  justify-content: space-between;
}
.accomName {
  font-weight: 700;
  margin: 10px 0 5px 0px;
}
.accomPrice {
  margin-bottom: 10px;
  font-size: 0.9em;
}
.accomRate {
  margin-bottom: 10px;
  word-spacing: -1ch;
  font-size: 9pt;
}
.hlprice {
  font-weight: 600;
}

.BStar {
  color: #0065fc;
}

.GStar {
  color: #d9d9d9;
}
.showMore {
  display: ;
  width: auto;
  flex: 1 1 auto;
}
.showMore h4 {
  margin-top: 0;
  margin-bottom: 15px;
}
/* Most Popular - Accomodations */
.accomPopContainer {
  padding: 25px 40px 25px 40px;
  align-content: flex-start;
  background-color: #f2f2f2;
  border-radius: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  max-width: 340px;
}
.articlesPopWrap {
  width: calc(100% - 10px);
  align-content: center;
  background-color: #f2f2f2;
  border-radius: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.accomPopItems {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  width: 100%;
  min-width: 200px;
  max-width: 100%;
  padding: 5px;
  background-color: white;
  max-height: 144px;
  border-radius: 20px;
  box-shadow: 4px 4px 15px lightgray;
}
.accomPopItems img {
  width: 100%;
  max-width: 127px;
  border-radius: 20px 0 0 20px;
  height: 134px;
  object-fit: cover;
}
