/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

body {
  margin: 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  font-family: "Raleway", sans-serif;
}
.flex {
  display: flex;
}

#page {
  margin: 0px 50px 0px 50px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1340px;
}
a {
  color: #000;
  text-decoration: none;
}
a:visited {
  color: #0065fc;
  text-decoration: none;
}
/* Header */
header {
  background-color: white;
  width: 100%;
  justify-content: space-between;
  display: flex;
}
/* Logo */
.logo {
  margin: 44px 0 0 0;
}
/* Menu */
.currentSection {
  font-weight: 550;
  border-top: solid 2px #0065fc !important;
  padding: 46px 20px 20px 20px !important;
}
nav a {
  padding: 48px 30px 0;
  text-decoration: none;
}

nav li a:hover {
  color: #0065fc;
}
.menu ul {
  margin: 0 0 0 0;
  list-style-type: none;
  display: inline-flex;
}
nav ul li {
  padding: 48px 20px 20px 20px;
  border-top: solid 2px white;
}

.register {
  color: #0065fc;
  margin: 50px 0 0 33px;
}
