/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

body {
  margin: 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  font-family: "Raleway", sans-serif;
}
.flex {
  display: flex;
}

#page {
  margin: 0px 50px 0px 50px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1340px;
}
a {
  color: #000;
  text-decoration: none;
}
a:visited {
  color: #0065fc;
  text-decoration: none;
}
/* Header */
header {
  background-color: white;
  width: 100%;
  justify-content: space-between;
  display: flex;
}
/* Logo */
.logo {
  margin: 44px 0 0 0;
}
/* Menu */
.currentSection {
  font-weight: 550;
  border-top: solid 2px #0065fc !important;
  padding: 46px 20px 20px 20px !important;
}
nav a {
  padding: 48px 30px 0;
  text-decoration: none;
}

nav li a:hover {
  color: #0065fc;
}
.menu ul {
  margin: 0 0 0 0;
  list-style-type: none;
  display: inline-flex;
}
nav ul li {
  padding: 48px 20px 20px 20px;
  border-top: solid 2px white;
}

.register {
  color: #0065fc;
  margin: 50px 0 0 33px;
}
/* Main */
main {
  margin-top: 40px;
  width: 100%;
}
/* Search */
.search h2,
p {
  margin: 0 0 10px 0;
}
.containerIcn {
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  width: 50px;
}
.containerIcn i {
  margin: auto;
  font-size: 1.2rem;
}
.searchForm {
  height: 50px;
  margin: 20px 0 30px 5px;
}
.searchField {
  border: 1px solid #f2f2f2;
  padding: 0 0 0 15px;
  font-size: 1.1rem;
  font-weight: 600;
  width: 230px;
}
.searchField::placeholder {
  color: black;
}

.searchButton {
  width: 130px;
  background-color: #0065fc;
  border: none;
  padding: 0;
  border-radius: 0 15px 15px 0;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
}

.searchButton i {
  display: none;
}
/* Filters */

.filtersTitle {
  margin: 0;
}

.filtersResult {
  align-items: center;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 30px;
}
.filtersResult ul {
  margin: 0;
}
.filtersResult ul li {
  display: flex;
  align-items: center;
  height: 46px;
  border: 2px solid #f2f2f2;
  border-left: none;
  margin-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
}
.filtersResult ul li:first-child {
  margin-left: 0;
}
.filtersResult ul li:hover {
  cursor: pointer;
  border-color: #0065fc;
  color: white;
  background-color: #0065fc;
}

.filtersResult i {
  color: #0065fc;
  margin-right: 13px;
  align-items: center;
  justify-content: center;
  display: flex;
  right: 1px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #deebff;
}

.iconFilter i {
  margin: auto;
  color: #0065fc;
}

.iconInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border: 1px solid #d2d2d2;
  border-radius: 1rem;
  margin-right: 10px;
}

.iconInfo i {
  font-size: 0.9rem;
  color: #0065fc;
}
